:root {
  --mainColor: #64bcf4;
  --hoverColor: #5bacdf;
  --backgroundColor: #f1f8fc;
  --darkOne: #312f3a;
  --darkTwo: #45424b;
  --lightOne: #919191;
  --lightTwo: #aaa;
}
.main-container {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url(../images/wave.svg);
  background-repeat: no-repeat;
  background-size: 115%;
  height: calc(100vh - 64px);
}
.showcase-area {
  display: grid;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  max-width: 1200px;
  background-color: transparent;
  grid-template-columns: repeat(2, 50%);
}
.showcase-area .left {
  position: relative;
  display: flex;
  padding: 0px 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.showcase-area .left h1 {
  font-size: 50px;
  color: var(--darkOne);
  font-weight: 900;
  margin-bottom: 50px;
}
.showcase-area .left h2 {
  font-size: 20px;
  font-weight: 400;
  color: var(--darkOne);
  margin-bottom: 40px;
}
.showcase-area .right {
  display: flex;
  padding: 50px 20px;
  align-items: center;
  justify-content: center;
}
.showcase-area .right .hero-img {
  padding: 20px;
  position: relative;
  width: 800px;
  background-position-x: right;
  height: 400px;
  background-repeat: no-repeat;
  background-image: url(../images/hero_image.svg);
  background-size: contain;
}
.link-area {
  position: relative;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
